<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% include 'navbar.html '%}

    <h1><i>This is About Page</i></h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt eligendi deserunt omnis dicta minima itaque
        sequi culpa asperiores? Velit voluptates vel amet deleniti. Possimus autem sint praesentium vero doloribus.
        Voluptate facere ullam quibusdam porro veritatis veniam nemo rerum minima et.</p>
</body>

</html>