<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Registration</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

    <style>
        body {
            background: #f4f6f9;
        }

        .register-card {
            background: white;
            padding: 35px;
            border-radius: 15px;
            box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
            margin-top: 70px;
        }
    </style>
</head>

<body>

    {% include 'navbar.html' %}

    <form action=""></form>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="register-card">

                    <h2 class="text-center mb-4"> Document-Upload</h2>

                    <form action="filecheck" method="POST" enctype="multipart/form-data">

                        <div class="mb-3">
                            <input type="email" class="form-control" placeholder="Enter Email" name="email">
                        </div>

                        <div class="mb-3">
                            <input type="file" class="form-control" placeholder="Upload sign" name="photo">
                        </div>

                        <button type="submit" class="btn btn-dark w-100">Upload</button>

                    </form>
                </div>
            </div>
        </div>
    </div>

</body>

</html>