<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    {% include 'navbar.html' %}
    <center>
        <form action="saveform" method="POST">
            <fieldset style="width: 50%;">
                <h1>Registration form</h1>
                <input type="text" placeholder="Enter Your Fullname" name="name">
                <br><br>
                <input type="email" placeholder="Enter Email" name="email">
                <br><br>
                <input type="password" placeholder="Enter your password" name="password">
                <br><br>
                <input type="tel" placeholder="Contact Number" name="contact">
                <br> <br>
                <input type="submit" value="Submit">
            </fieldset>
        </form>
    </center>
</body>

</html>